{% extends '@nucleus/partials/particle.html.twig' %}

{% block javascript %}
{% if gantry.platform.getName() == 'joomla' %}
  {{ joomla.html('jquery.framework') }}
{% elseif gantry.platform.getName() == 'wordpress' %}
  {{ gantry.platform.call('wp_enqueue_script', 'jquery') }}
{% endif %}
<script>
jQuery(window).load(function(){
  /* When user clicks the Icon */
  jQuery(".nav-toggle").click(function() {
    jQuery(this).toggleClass("active");
    jQuery("#g-overlay").toggleClass("open");
  });

  /* When user clicks outside */
  jQuery("#g-overlay").click(function() {
    jQuery(".nav-toggle").toggleClass("active");
    jQuery("#g-overlay").toggleClass("open");
  }); 
});
</script>
{% endblock %}

{% block particle %}
<div class="{{ particle.class|e }}">
  <div class="g-overlaytoggle">
    {% if particle.title %}<h2 class="g-title">{{ particle.title|raw }}</h2>{% endif %} 
    <a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#" onclick="return false">
      {% if particle.menutext %}<span class="g-overlaytoggle-text">{{ particle.menutext|raw }}</span>{% endif %}
    </a>
  </div>
</div>

{% endblock %}